.widget-layout {
    width: 100%;
    height: 100%;
    padding: var(--base-size-16);
}

.react-grid-item {
    padding: var(--base-size-16);
    padding-bottom: 50px;
    border-radius: var(--borderRadius-medium);
}
